.navbar-expand {
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    margin-top: 2%;
}
.nav-link {
    font-family: emoji;
    font-size: larger;
}
img, svg {
    vertical-align: middle;
    border-radius: 15px;
    margin-left: 40%;
    margin-top: 5%;
    width: 350px;
}
.text {
    margin-top: 30%;
}
.nav-item-about{
    background-color:#ffc5ad;
    border-radius: 20%;
    margin-left: 5px;
}
.nav-item-works{
    background-color:#ffc5ad;
    border-radius: 20%;
    margin-left: 5px;
}
.nav-item-contact{
    background-color:#ffc5ad;
    border-radius: 20%;
    margin-left: 5px;
}
.navbar-collapse{
    font-size: larger;
}
h3{
    font-family: emoji;
}
.about {
    background-color: #ffc5ad;
    margin: 2%;
    text-align: center;
    border-radius: 15px;
}




