.navbar-expand {
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    margin-top: 2%;
}
.nav-link:hover {
    font-family: emoji;
    text-decoration: none; /* Para quitar la subraya del enlace */
    transition: color 0.3s;
}
img, svg {
    vertical-align: middle;
    border-radius: 15px;
    margin-left: 40%;
    margin-top: 5%;
    width: 350px;
}
.text {
    margin-top: 30%;
    text-shadow: 1px 1px 2px #000000;

}
.nav-item-about{
    background-color:#ffc5ad;
    border-radius: 20%;
    margin-left: 5px;
}
.nav-item-works{
    background-color:#ffc5ad;
    border-radius: 20%;
    margin-left: 5px;
}
.nav-item-contact{
    background-color:#ffc5ad;
    border-radius: 20%;
    margin-left: 5px;
}
.navbar-collapse{
    font-size: larger;
}
h3{
    font-family: emoji;
    text-shadow: 1px 1px 2px #000000;
}
.about {
    background-color: #ffc5ad;
    margin: 2%;
    text-align: center;
    border-radius: 15px;
}
.techs {
    display: contents;
}
.fa-2x {
    margin: 10px;
}
a {
    text-shadow: 0.5px 0.5px 2px #000000;
}





